<!-- begin post -->
<div class="col-md-6 grid-item">
    <div class="card">
        <a href="{{ project.url | absolute_url }}">
            {% if project.diagram %} <img class="img-fluid"
                src="{{ site.baseurl }}/assets/diagrams/{{ project.diagram }}.svg" alt="{{ project.title }}">
            {% endif %}
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="{{ project.url | absolute_url }}">{{ project.title }}</a></h2>
            <h4 class="card-text">{{ project.description | strip_html | truncatewords:30 }}</h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="post-read-more"><a href="{{ project.url | absolute_url }}" title="Read Project"><i
                                class="fa fa-link"></i></a></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->