<div class="sidebar">

    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>

    <div class="sidebar-section">
        <h5><span>Partners</span></h5>
        <p>&nbsp;</p>
        <p align="center">
            <img src="{{ site.baseurl }}/assets/images/partner-zoom.png" alt="Zoom Education" width=140>
        </p>
        <p align="center">
            <img src="{{ site.baseurl }}/assets/images/distributor-cyntech.png" alt="Cyntech Components" width=160>
        </p>
    </div>

    {% if page.requires %}
    {% assign items = page.requires | split: "," %}
    <div class="sidebar-section">
        <h5><span>Required components</span></h5>
        <ul>
            <li>1 x micro:bit</li>
            <li>1 x snap:bit</li>
            {% for item in items %}
            {% assign pair = item | split: "x" %}
            {% assign len = pair | array_to_sentence_string: " " | number_of_words %}
            {% if len == 1 %}
            {% assign times = 1 %}
            {% else %}
            {% assign times = pair.first %}
            {% endif %}
            {% assign label = pair.last %}
            {% case label %}
            {% when '1' %}
            {% assign name = "1-Snap Wire" %}
            {% when '2' %}
            {% assign name = "2-Snap Wire" %}
            {% when '3' %}
            {% assign name = "3-Snap Wire" %}
            {% when '4' %}
            {% assign name = "4-Snap Wire" %}
            {% when '5' %}
            {% assign name = "5-Snap Wire" %}
            {% when '6' %}
            {% assign name = "6-Snap Wire" %}
            {% when 'WC' %}
            {% assign name = "Whistle Chip" %}
            {% when 'S1' %}
            {% assign name = "Slide Switch (S1)" %}
            {% when 'S2' %}
            {% assign name = "Press Switch (S2)" %}
            {% when 'RP' %}
            {% assign name = "Photoresistor (RP)" %}
            {% when 'D1' %}
            {% assign name = "Red LED (D1)" %}
            {% when 'L1' %}
            {% assign name = "2.5V Lamp (L1)" %}
            {% when 'B1' %}
            {% assign name = "Battery Holder (B1)" %}
            {% when 'SP' %}
            {% assign name = "8Ω Speaker (SP)" %}
            {% when 'U1' %}
            {% assign name = "Music IC (U1)" %}
            {% when 'U2' %}
            {% assign name = "Alarm IC (U1)" %}
            {% when 'U3' %}
            {% assign name = "Space War IC (U1)" %}
            {% when 'M1' %}
            {% assign name = "Motor (M1)" %}
            {% when 'R1' %}
            {% assign name = "100Ω Resistor (R1)" %}
            {% when 'J1' %}
            {% assign name = "Jumper Whire (Black)" %}
            {% when 'J2' %}
            {% assign name = "Jumper Whire (Red)" %}
            {% else %}
            {% assign name = item %}
            {% endcase %}
            <li>{{ times }} x {{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>