<div class="sidebar">

    <div class="sidebar-section">
        <img src="{{site.baseurl}}/assets/images/compatibility-logo-v1-v2.webp" alt="Works with micro:bit V1 & V2" />
    </div>

    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>

    <div class="sidebar-section">
        <h5><span>Partners</span></h5>
        <p>&nbsp;</p>
        <p align="center">
            <img src="{{ site.baseurl }}/assets/images/partner-zoom.png" alt="Zoom Education" width=140>
        </p>
        <p align="center">
            <img src="{{ site.baseurl }}/assets/images/partner-robotshop.png" alt="RobotShop" width=160>
        </p>
        <p align="center">
            <img src="{{ site.baseurl }}/assets/images/distributor-cyntech.png" alt="Cyntech Components" width=160>
        </p>
    </div>

</div>